// Global.
// Home.
.logo_img_m {
    height: 7rem;
    opacity: 0.87;
    margin-bottom: 4rem;
    border-radius: 99px;
}

.contacts-section .button {
    border-radius: 30px;
}

#header a.logo {
    border: 2px solid #fff !important;
    font-size: 2rem;
    font-weight: 300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-family: 'Roboto', 'Open Sans', sans-serif; // background: linear-gradient(135deg, #6e8efb, #a777e3);
    transition: background-color .3s ease, color 0.3s ease;
}

#header a.logo:hover {
    color: #fff !important;
    border: 2px solid #141414 !important;
    background-color: #141414 !important;
}

// Main0

#main.main0{
    height: 100vh !important;
    font-weight: 400;
    padding-top: 16vh;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

#main.main0 h1{
    font-weight: 400;
    padding-bottom: 0px;
}

.main0 h3{
    border-top: none !important;
    font-weight: 400;
    font-family:inherit;
    padding-top: 5% !important;
}

#main.main0 .button_d{
    border-top: solid 0px #eeeeee;
    margin: 0 auto !important;
    width: 80%;
    margin-top: 4vh !important;
}


#main.main0 > .button_d > div{
    border-top: none;
    display: inline-block;
    margin: 0.4rem;
    padding-left: 0px;
}

#main.main0 > .button_d > div > .button{
    border-radius: 1px;
    background-color: #141414;
    color: #fff !important;
    font-weight: 300 !important;
    font-family: inherit;
}

#main.main0 > .button_d > div > .button:hover{
    background-color: #18bfef !important;
    color: #000 !important;
}

#main.main0 > .button_d > div > a.twitch{
    background-color: #6542A5;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}

#main.main0 > .button_d > div > a.youtube{
    background-color: #E12525;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 700px){
    #main.main0 .button_d{
        width: 100%;
    }
    #main.main0 > .button_d > div > .button{
        font-size: 0.82rem;
    }
    #main.main0 > .button_d > div > a.twitch{
        box-shadow: none !important;
        -webkit-font-smoothing: antialiased;
    }
    #main.main0 > .button_d > div > a.twitch{ 
    }
    #main.main0 > .button_d > div > a.youtube{

    }
}

// Upcomming section

#main.main2 *{
    text-align: center !important;
}

#main.main2{
    padding-top: 10vh;
}

// Rules and regulations
.rules_text hr {
    border-color: #ccc;
    opacity: 0.68;
    width: 70%;
}

.logo_img {
    height: 140px;
}

// Contacts.
.contacts,
.contacts .post,
#nav ul.links li.contact_l{
    background-color: whitesmoke;
}
#nav .contact_l a {
	color: #141414 !important;
}
#nav ul.links .contact_l a:hover {
    color: #18bfef !important;
}