// Global.
// Home.
.logo_img_m {
    height: 7rem;
    opacity: 0.87;
    margin-bottom: 4rem;
    border-radius: 99px;
}

.contacts-section .button {
    border-radius: 30px;
}

#header a.logo {
    border: 2px solid #fff !important;
    font-size: 2rem;
    font-weight: 300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-family: 'Roboto', 'Open Sans', sans-serif; // background: linear-gradient(135deg, #6e8efb, #a777e3);
    transition: background-color .3s ease, color 0.3s ease;
}

#header a.logo:hover {
    color: #fff !important;
    border: 2px solid #141414 !important;
    background-color: #141414 !important;
}

// Main0

.main0{
    font-weight: 400;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.main0 h1{
    font-weight: 400;
}

.main0 h3{
    border-top: none !important;
    font-weight: 400;
    font-family:inherit;
}
.main0 div{
    border-top: none !important;
}

// Upcomming section


// Rules and regulations
.rules_text hr {
    border-color: #ccc;
    opacity: 0.68;
    width: 70%;
}

.logo_img {
    height: 140px;
}

// Contacts.
.contacts,
.contacts .post,
#nav ul.links li.contact_l{
    background-color: whitesmoke;
}
#nav .contact_l a {
	color: #141414 !important;
}
#nav ul.links .contact_l a:hover {
    color: #18bfef !important;
}